# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment files (optional but recommended)
.env

# Optional IDE/editor files
.vscode/
.idea/
*.swp


# added extra
.next/
.vercel
